/*
 * index.htmlページ用スタイル
 */

 @use "../globals" as *;
 @use "../parts/fonts" as *;
 @use "../parts/common" as *;


.about {
  .l-content {
    margin-bottom: 0;
    .post_content {
      &:not(:has(*)) {
        display: contents !important;
      }
    }
  }

  .about-lead {
    &__title {
      margin-bottom: 20px;
      @include mq("lg") {
        margin-bottom: 40px;
      }
      p {

        color:$c-sub;
        font-weight: bold;
        font-size: 32px;
        line-height: 1.5;
        
        font-family: $accent-font;
        @include mq("lg") {
          font-size: 36px;
          
        }
        span {
          color: $c-main;
        }
      }
    }
    &__contents {
      p,div {
        font-size: 14px;
        span {
          font-weight: bold;
          color: $c-main;
        }
        + p {
          margin-top: 30px;
        }
      }
    }
    &__img {
      width: vwSP(294);
      margin-inline: auto -190px;
      margin-top: 20px;
      @include mq("lg") {
        width: 573px;
        margin-inline: auto -185px;
      }
    }
  }
  // プロフィール
  .about-profile {
    
    &__meta {
      text-align: center;
      margin-bottom: 15px;
      @include mq("lg") {
        margin-bottom: 30px;
      }
      .-title {
        display: block;
        font-family: $accent-en-font;
        font-size: 40px;
        color: $c-main;
        line-height: 1.5;
        letter-spacing: 0.1em;
        @include mq("lg") {
          font-size: 50px;
        }
      }
      .-type {
        color: $c-main;
        font-size: 18px;
        position: relative;
        font-family: $accent-font;
        font-weight: bold;
        span {
          font-family: $accent-en-font;
          font-weight: 400;
        }
        &:after {
          content: '';
          display: block;
          width: 200px;
          height: 1px;
          background-color: $c-main;
          margin: 5px auto 0;

        }
      }
      .-name {
        
        margin-top: 15px;
        color:$c-sub;
        font-weight: bold;
        font-size: 32px;
        line-height: 1;
        margin-bottom: 20px;
        letter-spacing: 0.1em;
        @include mq("lg") {
          font-size: 36px;
          margin-bottom: 40px;
        }
        &:before {
          display: none;
        }
        .-kana {
          font-size: 16px;
          font-weight: bold;
          margin-top: 12px;
          display: block;
          @include mq("lg") {

          }
        }
      }
      
    }
    &__body {
      @include mq("lg") {
        display: grid;
        grid-template-areas:
          "contents person"
          "contents img";
      }
      .-person {
        position: relative;
        width: min(100% , 330px);
        margin-inline: auto;
        margin-bottom: 30px;
        grid-area: person;
        @include mq("lg") {
          margin-bottom: 30px;
          width: min(100% , 347px);
          margin-inline: auto 0;
        }
  
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -25px;
          right: -20px;
          width: 119px;
          height: 79px;
          background: var(--bg-url) no-repeat center center / contain;

        }
      }
      .-contents {
        margin-bottom: 50px;
        grid-area: contents;

        @include mq("lg") {
          margin-bottom: 0px;
        }
        p {
          letter-spacing: 0.145em;
          span {
            font-weight: bold;
          }
        }
      }
      .-img {
        grid-area: img;
        width: min(100% , 335px);
        margin-inline: auto;

        @include mq("lg") {

          width: min(100% , 347px);
          margin-inline: auto 0;
        }

      }
    }
    
  }
  // 経歴
  .about-history {
    background-color: #FFF4E8;
    margin-top: 50px;
    padding: 30px 20px;
    position: relative;
    border-radius: 20px;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -30px;
      right: -5px;
      width: 114px;
      height: 115px;
      background: var(--bg-url) no-repeat center center / contain;
      @include mq("lg") {
        width: 170px;
        height: 170px;
        top: -60px;
        right: -15px;
  
      }
    }
    @include mq("lg") {
      margin-top: 80px;
    }

    &__title {
      color: $c-main;
      font-size: 26px;
      font-weight: bold;
      padding-left: 0;
      paddging-bottom: 20px;
      margin-bottom: 0;
      &::before {
        display: none;
      }
      @include mq("lg") {
        font-size: 32px;
        
      }
    }
    &__text {
      font-size: 12px;
      letter-spacing: 0.21em;
    }
  }
  .about-bnr {
    margin-top: 50px;
    @include mq("lg") {
      margin-top: 40px;
    }
    &__link {
      display: block;
      width: min(100% , 335px);
      margin-inline: auto;
      &:hover {
        opacity: 0.8;
      }
      @include mq("lg") {
        width: 100%;

      }
    }
  }
  .about-other {
    background-color: #FFF4E8;
    position: relative;
    padding-bottom: 64px;
    @include mq("lg") {
      padding-bottom: 100px;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      right: -390px;
      width: 600px;
      height: 291px;
      background: var(--bg-url) no-repeat center center / contain;
      @include mq("lg") {
        width: 668px;
        height: 323px;
        top: 0px;
        right: -50px;
  
      }
    }

    &__meta {
      padding-block: 64px 30px;
      margin-bottom: 0;
      @include mq("lg") {
        padding-block: 100px 40px;
      }
      .-title {
        font-family: $accent-en-font;
        font-size: 40px;
        color: $c-main;
        font-weight: normal;
        margin-bottom: 0;
        letter-spacing: 0.1em;

        @include mq("lg") {
          font-size: 50px;
        }
      }
      .-text {
        font-size: 18px;
        color:$c-sub;
        font-family: $accent-font;
        font-weight: bold;
        letter-spacing: 0.1em;
      }

    }
    &__message {
      strong {
        display: block;
        font-size: 26px;
        color:$c-sub;
        font-family: $accent-font;
        margin-bottom: 38px;
        font-weight: bold;
        letter-spacing: 0.1em;
        @include mq("lg") {
          font-size: 38px;
        }
      }
    }
    &__block {
      @include mq("lg") {
        display: flex;
        gap: 60px;
      }
    }
    &__img {
      width: min(100%, 335px);
      margin-inline: auto;
      @include mq("lg") {
        width: min(100%, 407px);
        
      }
    }
    &__contents {
      margin-top: 30px;
      @include mq("lg") {
        margin-top: 23px;
        flex: 1;
      }
      .-text {
        font-size: 14px;
        margin-bottom: 30px;
      }
      .-btn {
        width: min(100%, 335px);
        margin-inline: auto;
        @include mq("lg") {
          width: auto;
        }
        a {
          width: 100%;
          @include mq("lg") {
            width: auto;
          }
        }
      }
    }
  }
}

