/*
 * index.htmlページ用スタイル
 */

 @use "../globals" as *;
 @use "../parts/fonts" as *;
 @use "../parts/common" as *;


.home {
  .l-content {
    margin-bottom: 0;
  }
}

.hero {
 position: relative;
 @include mq("lg") {
  display: flex;
  margin-right: fluid-text(30px, 69px) ;
 }

}

.hero-piano {
 margin-top: fluid-text(6px, 30px) ;
 margin-bottom: fluid-text(30px, 40px) ;
 width: 100%;
 height: 61px;
 background: var(--bg-url-sp) repeat-x center center / 100% 100%;

 @include mq("lg") {
  height: fluid-text(21px, 134px) ;
  background: var(--bg-url) no-repeat center center / 100% auto;

 }
}

.hero-title {
 position: absolute;
 right: 4px;
 top: vwSP(38) ;
 z-index: 1;
 width: vwSP(124) ;
 @include mq("lg") {
  position: inherit;
  width: fluid-text(124px, 204px) ;
  top: fluid-text(25px, 37px);
 }
}

.hero-swiper {
 width: fluid-text(380px, 1081px) !important;
 margin-inline:0;


 @include mq("lg") { //960px以上

 }
}

.hero-contents {
 display: flex;
 flex-direction: column;
 
 @include mq("lg") {
  align-items: center;
 }
 &__inner {
  margin-inline: fluid-text(20px, 20px) ;
  margin-top:vwSP(11);
  @include mq("lg") {
    margin-top:17px;
  }
 }
 &__text {
  font-family: $accent-font;
  font-weight: 700;
  font-size: vwSP(18);
  color:$c-main;
  @include mq("lg") {
   font-size: fluid-text(18px, 20px);
  }
 }
 &__title {
  font-family: $accent-en-font;
  font-size: vwSP(38);
  color: $c-sub;
  line-height: 1;
  @include mq("lg") {
   font-size: fluid-text(38px, 70px);
  }

  span {
   color: $c-main;
  }
 }
}


.home-step {
 counter-reset: listnum;

 &__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  + .home-step__fields {
   margin-top: vwSP(40) ;
   @include mq("lg") {
    margin-top: fluid-text(40px, 60px) ;
   }
  }
  @include mq("lg") {
    flex-direction: row;
    align-items: flex-start;
    gap: fluid-text(20px, 95px) ;
    justify-content: space-between;
  }
  &:nth-child(even) {
    @include mq("lg") {
    flex-direction: row-reverse;
  }
  .home-step__item {
    &.-img {
      &:after {
        width: vwSP(72);
        height: vwSP(66);
        right: unset;
        left: -10px;
        bottom: -15px;
        @include mq("lg") {
          width: 72px;
          height: 66px;
  
        }
      }
    }
   }
  }
 }
 &__col {
  &:last-child {
    @include mq("lg") {
      width: min(100%, 316px);
    }
  }
 }
 &__item {
  &.-img {
    width: 100%;
    position: relative;
    @include mq("lg") {
      width: min(100%, 316px);
    }
    &:after {
      content: "";
      background: var(--bg-url) no-repeat center center / contain;
      width: vwSP(73);
      height: vwSP(73);
      display: block;
      position: absolute;
      bottom: -15px;
      right: -15px;
      @include mq("lg") {
        width: 73px;
        height: 73px;
  
      }

    }

    img {
      border-radius: 30px;
      object-fit: cover;
      width: 100%;
    }
  }
  &.-num {
    margin-bottom: 20px;
    display: inline-block;
    width: vwSP(75);
    height: vwSP(69);
    background: var(--bg-url) no-repeat center center / cover;
    display: grid;
    place-items: center;
    @include mq("lg") {
      margin-top: -16px;
      width: 75px;
      height: 69px;
  
    }
   &:before {
    counter-increment: listnum;
	  content: "0" counter(listnum);
    font-size: vwSP(36);
    color: $c-main;
    font-weight: 600;
    line-height: 1.2;
    font-family: $accent-font;
    @include mq("lg") {
      font-size: 36px;
    }
   }
  }
  &.-title {
   text-align: center;
  
   @include mq("lg") {
    text-align: left;
   }
   h3 {
    font-size: vwSP(26);
    color: $c-sub;
    line-height: 1.3;
    padding-inline: 0;
    &:before {
      display: none;
    }
    @include mq("lg") {
      font-size: fluid-text(26px, 32px);
    }
   }
  }
  &.-label {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-block: vwSP(16);
   @include mq("lg") {
    margin-block: 16px;
   }
   span {
    background-color: $c-main;
    color: $c-white;
    font-size: vwSP(14);
    line-height: 1.5;
    font-weight: bold;
    padding: 1px vwSP(12);
    border-radius: 30px;
    @include mq("lg") {
      font-size: 14px;
      padding: 1px 12px;
    }
   }
  }
  &.-text-lg {
   position: relative;
   padding-block: vwSP(16) vwSP(12);
   @include mq("lg") {
    padding-block: 16px 12px;
   }
   &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 1px;
    background-color: $c-main;
    @include mq("lg") {
      width: 100%;
    }
   }
   p {
    font-size: vwSP(18);
    line-height: 1.5;
    color: $c-main;
    font-weight: bold;
    font-family: $accent-font;
    text-align: center;
    @include mq("lg") {
      font-size: fluid-text(18px, 20px);
      text-align: left;
    }
   }
  }
  &.-text-sm {
    margin-bottom: vwSP(20);
    @include mq("lg") {
      margin-bottom: 0;
    }
   p {
    font-size: vwSP(14);
    color: $c-sub;
    text-align: center;
    @include mq("lg") {
      font-size: 14px;
      text-align: left;
    }
   }
  }
  &.-btn {
   margin-top: vwSP(40);
   order: 1;
   width:100%;
   @include mq("lg") {
    margin-top: 20px;
    
   }

   a {
    @include mq("lg") {
      width:min(100%,(206px));
    }
   }

  }
 }
 &__col {
  display: contents;
  @include mq("lg") {
   display: block;
  }

 }
}