/*
 * index.htmlページ用スタイル
 */

 @use "../globals" as *;
 @use "../parts/fonts" as *;
 @use "../parts/common" as *;



[data-page="new-solfege-lesson"] {
  .voice {
    overflow-x: hidden;
    &-swiper {
      padding-top: 40px;
    }

    &-inner {

    }
    &-lists {}
    &-item {
      background-color: white;
      position: relative;
      border-radius: 20px;
      padding: 30px 20px;
      @include mq("lg") {
        padding: 30px 12px;
      }

      .-info {
        margin-bottom: 20px;

        .-img {
          position: absolute;
          right: 0;
          top: -38px;
          border-radius: 50%;
          padding: 13px;
          background-color: white;
          img {
            width: 95px;
            border-radius: 50%;
          }
        }
        .-grade {
          span {
            border-radius: 30px;
            line-height: 22px;
            color: white;
            font-weight: bold;
            font-size: 12px;
            text-align: center;
            padding-inline: 12px;
            background-color: $c-main;
            padding-block: 2px;
          }
        }
        .-place {
          font-size: 12px;
          color: $c-main;
          margin-top: 4px;
        }
        .-name {
          font-size: 16px;
          color: $c-main;
          font-weight: bold;
          margin-top: 4px;
          font-family: $accent-font;
        }

      }
      .-body {
        .-title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
          font-family: $accent-font;
        }
        .-text {
          font-size: 14px;
        }
      }
    }
  }


}