@use "sass:math";
@use "../globals" as *;
@use "general";
@use "fonts" as *;


.swiper-wrapper {
 // overflow-x: hidden;
}

.swiper-button-next, .swiper-button-prev {
 width: 40px;
 height: 40px;
 &:hover {
  opacity: 0.8;
 }
}

.swiper-button-prev {
 background: var(--bg-url) no-repeat center center / contain !important;
 &:after {
  display: none;
 }
 left: -20px;
 @include mq("lg") {
  left: -60px;
 }
}
.swiper-button-next {
 background: var(--bg-url) no-repeat center center / contain !important;
 &:after {
  display: none;
 }
 right: -20px;
 @include mq("lg") {
  right: -60px;
 }


}